page-home {
    .font-jjgreen {
        
        width: 100vh !important;
        height: 12vh !important;
        margin-bottom:-10px;
        min-width: 100%;
        
    }

    .col {
        /* padding: 5px; */
        position: relative;
        /* width: 100%; */
        margin: 0;
        min-height: 1px;
        /* -webkit-flex-basis: 0; */
        -ms-flex-preferred-size: 0;
        /* flex-basis: 0; */
        /* -webkit-box-flex: 1; */
        /* -webkit-flex-grow: 1; */
        -ms-flex-positive: 1;
        /* flex-grow: 1; */
        /* max-width: 100%; */
      }
}
