page-product {

    ul {
        padding: 0px;
        margin-top:0px;
        &.rating li {
            padding: 0px 0px !important;
            background: none;
            color: #ffb400;
            ion-icon {
                font-size: 20px;
            }
        }
    }

    .item-ios h2 {
        margin: 0 0 2px;
        font-size: 1.9rem;
        font-weight: normal;
        color: #7f3f00;
      }

      .item-md h2 {
        margin: 2px 0;
        font-size: 1.6rem;
        font-weight: normal;
        color: #7f3f00;
      }
      .item-md p {
        margin: 0 0 2px;
        overflow: inherit;
        font-size: 1.4rem;
        line-height: normal;
        text-overflow: inherit;
        color: #d8625d;
      }      

      .item-ios p {
        overflow: inherit;
        font-size: 1.4rem;
        line-height: normal;
        text-overflow: inherit;
        color: #f53d3d;
        margin: 0 0 2px;
      }
      
}
